.App {
  text-align: center;
}

header {
  background-color:rgb(48, 48, 4);;
  color: rgb(70, 70, 6);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

h1 {
  text-shadow: 0.5rem 3px rgba(245, 222, 179, 0.7);
}

html {
  background-color: rgb(70, 70, 6);
  min-height: 100vh;
}

.body {
  width: 50vw;
  min-height: 40vh;
  border-style: ridge;
  border-color: bisque;
  border-width: 5px;
  margin: auto;
  padding: 10px;
}

button {
  background-color: bisque;
  color:rgb(70, 70, 6);
  padding: 2px;
  margin-top: 10px;
  border-style: groove;
  border-color: rgb(48, 48, 4);
  border-width: 1px;
}

.input-box {
  accent-color: rgb(89, 134, 6);
}

.h3 {
  font-size: 1.5rem;
}